<header class="header-content">
    <nav class="navbar navbar-light navegador" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Incidentes
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#" (click)="route('load');ruteo=true">Carga</a></li>
            <li><a href="#" (click)="route('view');ruteo=true">Visualizacion</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Scripts
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#" class="not-active">Inactivar Liquidacion</a></li>
            <li><a href="#" class="not-active">Inactivar Aplicacion</a></li>
            <li><a href="#" class="not-active">Cerrar Contratos</a></li>
            <li><a href="#" class="not-active">Asignar Pizarra</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">BBDD
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#" class="not-active">Crear Tabla</a></li>
            <li><a href="#" class="not-active">Agregar Columna</a></li>
            </ul>
        </li>
        </ul>
    </div>
    </nav> 
</header>
<main>
  <div [hidden]="!isHidden()"><img src="../app/img/One-Color-Blue-Logo.png" alt="NEORIS" height="50%" width="50%"></div>
  <router-outlet></router-outlet>
</main> 