.header-content{
  .row{
     margin: 30px 0 0 0;
  }
  .navegador{
      margin-bottom: 0px;
  }
  .users-list li   {
    cursor: pointer;
  }
  .jumbotron .glyphicon {
    font-size: 80px;
  }
  .user{
    right: 25px;
    top: 30%;
    position: absolute;
    color: white;
  }
  
}
footer{
  div:first-of-type{
    margin-top: 20px;
  }
}