<header class="header-content">
  <div class="row">
  <div class="col-sm-4">  &nbsp;
  </div>
  <div class="navbar navbar-inverse navegador col-sm-4">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Control Incidentes</a>
    </div>
  </div>
    <div class="col-sm-4">  &nbsp;
    </div>
  </div>    
</header>
<main>
  <router-outlet></router-outlet>
</main> 
<footer class="text-center">
  <div class="row">
    <div class="col-sm-12">  Omar Villalba &copy; 2017</div>
  </div>
</footer>