<div class="content-load">
<div class="row">
    <div class="col-xs-12 title-load">
        <h1><span class="label label-info">Carga de Incidentes</span></h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">&nbsp;</div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12 radios">
                <label class="radio-inline" data-toggle="tooltip" title="PKG, TRIGGERS, VIEWS"><input (click)="selectRadio('BASE')" [checked]="incidents.TIPO === 'BASE'"  value="BASE" type="radio" name="optradio">Cambio de Base</label>
                <label class="radio-inline" data-toggle="tooltip" title="Scripts creados por una incidencia"><input (click)="selectRadio('SCRIPT')" [checked]="incidents.TIPO === 'SCRIPT'" type="radio" value="SCRIPT" name="optradio">Script</label>
                <label class="radio-inline" data-toggle="tooltip" title="ALTER TABLE"><input (click)="selectRadio('ESQUEMA')" [checked]="incidents.TIPO === 'ESQUEMA'" type="radio" value="ESQUEMA" name="optradio">Cambio Esquema</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group loader-input">
                    <label>Incidencia</label>
                    <input type="text" placeholder="LDC 0000" class="form-control" [(ngModel)]="incidents.INCIDENCIA">
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Inc">Ingrese numero de incidencia.</span></div>
            </div>
            <div class="col-xs-3">&nbsp;</div>
            <div class="col-xs-3">
                <div class="form-group loader-input">
                    <label>Sprint</label>
                    <input type="number" min="0" max="999" class="form-control" [(ngModel)]="incidents.SPRINT">
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Spr">Ingrese un Sprint.</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group loader-input">
                    <label>Changeset</label>
                    <input type="number" min="0" max="99999" class="form-control" [(ngModel)]="incidents.CHANGESET">
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Chg">Ingrese un changeset.</span></div>
            </div>
            <div class="col-xs-6">
                <div class="form-group loader-input">
                    <label>Modulo</label>
                    <select [disabled]="incidents.TIPO == 'BASE'" [(ngModel)]="incidents.MODULO"  class="form-control input-sm">
                        <option [value]="-1" [selected]="incidents.MODULO === ''">Seleccionar</option>
                        <option [selected]="incidents.MODULO === 'ADMG'" [value]="'ADMG'" >Administraciones</option>
                        <option [selected]="incidents.MODULO === 'APLICACIONES'" [value]="'APLICACIONES'" >Aplicaciones</option>
                        <option [selected]="incidents.MODULO === 'BOLETOS'" [value]="'BOLETOS'" >Boletos</option>
                        <option [selected]="incidents.MODULO === 'CARDES'" [value]="'CARDES'" >CargasDescarga</option>
                        <option [selected]="incidents.MODULO === 'CONTABILIZACIONES'" [value]="'CONTABILIZACIONES'" >Contabilizaciones</option>
                        <option [selected]="incidents.MODULO === 'CONTRATOS'" [value]="'CONTRATOS'" >Contratos</option>
                        <option [selected]="incidents.MODULO === 'CUPOS'" [value]="'CUPOS'" >Cupos</option>
                        <option [selected]="incidents.MODULO === 'GARANTIAS'" [value]="'GARANTIAS'" >Garantias</option>
                        <option [selected]="incidents.MODULO === 'DATAWAREHOUSE'" [value]="'DATAWAREHOUSE'" >ETLs</option>
                        <option [selected]="incidents.MODULO === 'FLETES'" [value]="'FLETES'" >Fletes</option>
                        <option [selected]="incidents.MODULO === 'INT_LAGOS'" [value]="'INT_LAGOS'" >Interface Lagos</option>
                        <option [selected]="incidents.MODULO === 'LIQUIDACIONES'" [value]="'LIQUIDACIONES'" >Liquidaciones</option>
                        <option [selected]="incidents.MODULO === 'INT_ONCCA'" [value]="'INT_ONCCA'" >Oncca</option>
                        <option [selected]="incidents.MODULO === 'INT_WEB'" [value]="'INT_WEB'" >Interface Web</option>
                        <option [selected]="incidents.MODULO === 'PRECIOS'" [value]="'PRECIOS'" >Precios</option>
                        <option [selected]="incidents.MODULO === 'INT_RECIB'" [value]="'INT_RECIB'" >Interface Recibidores</option>
                        <option [selected]="incidents.MODULO === 'STOCK'" [value]="'STOCK'" >Stock</option>
                        <option [selected]="incidents.MODULO === 'SEGURIDAD'" [value]="'SEGURIDAD'" >Seguridad</option>
                        <option [selected]="incidents.MODULO === 'LDCWEBTEST'" [value]="'LDCWEBTEST'" >WEB</option>
                    </select>
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Mod">Seleccione un modulo.</span></div>
            </div>
        </div>

        <div class="row" *ngIf="incidents.TIPO == 'BASE'">
            <div class="col-xs-6">
                <div class="form-group loader-input">
                    <label>Paquete</label>
                    <select [(ngModel)]="incidents.PAQUETE" (change)="onChange($event.target.value)" class="form-control input-sm">
                        <option [disabled]="incidents.PAQUETE != undefined" [value]="-1" [selected]="incidents.PAQUETE === '-1'">Seleccionar</option>
                        <option *ngFor="let pkg of _paquetes">{{pkg.OBJECT_NAME}}</option>
                    </select>
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Pkg">Seleccione un paquete.</span></div>
            </div>
            <div class="col-xs-6">
                <div class="form-group loader-input">
                    <label>Procedimiento</label>
                    <!--<input class="form-control" disabled [(ngModel)]="valores.SP">-->
                    <textarea class="form-control" [(ngModel)]="incidents.SP"></textarea>
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Prc">Ingrese el procedimiento modificado.</span></div>
            </div>
        </div>    

        <div class="row" *ngIf="incidents.TIPO != 'BASE'">
            <div class="col-xs-12">
                <div class="form-group loader-input">
                    <label>Nombre Exacto del Script</label>
                    <input id="sqlfile" (change)="fileChangeEvent($event)" accept=".sql" name="file" type="file" />
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Scr">Seleccione un script.</span></div>
            </div>
        </div>   

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group loader-input">
                    <label>Autor</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="incidents.AUTOR">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group loader-input">
                    <label>Fecha</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="incidents.FECHA">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group loader-input">
                    <label>Detalle Cambios</label>
                    <textarea class="form-control" [(ngModel)]="incidents.CAMBIO_REALIZADO"></textarea>
                </div>
                <div class="content-error"><span class="error" *ngIf="err_Det">Ingrese un detalle del cambio.</span></div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">&nbsp;</div>
</div>
<div class="row">
    <div class="col-xs-4">&nbsp;</div>
    <div class="col-xs-4">
            <button type="submit" (click)="onSubmit()" class="btn btn-block btn-primary">
                Cargar
            </button>
    </div>
    <div class="col-xs-4">&nbsp;</div>
</div>