<div class="content-users">
    <div class="col-sm-4">  &nbsp;
    </div>
    <div class="col-sm-8">
        <div class="row">
        <div class="content-login">
            <form #form="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-group" [ngClass]="{ 'has-error': username.invalid && username.touched }">
                    <input type="text" class="form-control" name="username" placeholder="Username" required
                        [(ngModel)]="newUser.username" #username="ngModel">

                    <span class="help-block" *ngIf="username.invalid && username.touched">Username is required.</span>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': password.invalid && password.touched }">
                    <input type="password" class="form-control" name="password" placeholder="Password" required
                        [(ngModel)]="newUser.password" #password="ngModel">

                    <span class="help-block" *ngIf="password.invalid && password.touched">Password is required.</span>
                </div>
                <div class="msg-error" *ngIf="newUser">
                    <span *ngIf="!newUser.estado">{{newUser.result}}</span>
                </div>

                <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">
                    Login
                </button>

            </form>
        </div>
        </div>     
    </div>
    <div class="col-sm-4">  &nbsp;
    </div>
</div> 