.content-view{

    margin-top: 20px;

    .selected{
        display: flex;

        label{
            margin-right: 10px;
            margin-top: 10px;
        }
    }
    .tabla{
        margin-top: 20px;
    }
    .table-responsive
    {
        overflow-x: auto;
        height: 350px;

        table {
            table-layout: fixed;
            word-wrap: break-word;
        }

        table th, table td {
            overflow: hidden;
        }
    }
}
